html, body {
    margin: 0;
    padding: 0;
  }
  
  canvas {
    display: block;
  }

  button {
    background-color:cadetblue;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    cursor: pointer;
  }